@charset "utf-8";
/* CSS Document */

body{
margin: 5%;
background-position: center;
background-image: url("imagens/fundo.png");
background-color: #8e2f2f;
}

#topo{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 5% 5% 2.5% 5%;
box-sizing: border-box;
border:2px solid white;
border-bottom: none;
background-color: r ed;
}

      #logo{
      width:100%;
      max-width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content:space-around;
      }

      #logo a{
      width:30%;
      margin:1%;
      padding-right: 2%;
      max-width: 730px;
      }

	  #logo a img{width: 100%;}

	  #logo a:first-child{
	  border-right: 2px solid white;
          padding-right: 5%;
          }

#principal{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 2.5% 5%;
box-sizing: border-box;
border-right:2px solid white;
border-left:2px solid white;
background-color: o range;
}

      #menu ul{
      margin: 0;
      padding: 0;
      list-style: none;
      }

      .menu li a{
      width: 100%;
      max-width: 600px;
      margin:0 auto 4%;
      padding:2%;
      box-sizing: border-box;
      border:2px solid white;
      display: block;
      font-family:Times, serif;
      font-size: 40px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
      color:white;
      background-color:transparent;
      }

      .menu li a:hover{background-color:#ffffff30;}

	.conteudo{
	padding: 2%;
	font-family: Verdana, Sans-serif;
	font-size: 20px;
	color:#252525;
	background-color:#ffffff70;
	}

		.conteudo h1{
		font-family:Times, serif;
      	font-size: 40px;
		}

		.conteudo img{width: 100%;}
		
		.conteudo figure{
		width: 80%;
		margin: auto;
		text-align: center;
		border: 2px #ffffff solid;
		background-color: #ffffff;
		}

		.conteudo figure figcaption{
		font-style: italic;
		font-size: 12px;
		}

#rodape{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 5% 5%;
box-sizing: border-box;
display: flex;
justify-content: space-between;
border-right:2px solid white;
border-bottom:2px solid white;
border-left:2px solid white;
background-color:y ellow;/*---TROCAR DEPOIS----*/
}

      #redes{
      width: 40%;
      max-width: 350px;
      padding:2%;
      box-sizing: border-box;
      display: flex;
      justify-content: space-around;
      background: g reen;/*---TROCAR DEPOIS----*/
      }

      #local{
      width:60%;
      max-width:350px;
      padding: 2%;
      box-sizing: border-box;
      text-align: right;
      background: b lue;/*---TROCAR DEPOIS----*/
      color: white;
      }

        #local img{
        margin-left: 5%;
        float: right;
        }

        #local a{
        margin: 0;
        font-family:Times, serif;
        font-size: 20px;
        text-decoration: none;
        text-align: right;
        color:white;
        }

/*----INÍCIO DO CÓDIGO PARA DISPOSITIVOS MÓVEIS----*/

@media screen and (min-width:1px) and (max-width:768px){
	
#topo{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 5% 5% 10% 5%;
box-sizing: border-box;
}
     .menu li a{
      width: 100%;
      max-width: 600px;
      margin:0 auto 8%;
      padding:3%;
      transition: 0.3s;
      }
	
	
#rodape{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 5% 5%;
box-sizing: border-box;
display:block;
border-right:2px solid white;
border-bottom:2px solid white;
border-left:2px solid white;
background-color:y ellow;/*---TROCAR DEPOIS----*/
}

      #redes{
      width: 100%;
      margin: auto;
      padding:2%;
      box-sizing: border-box;
      display: flex;
      justify-content:space-around;
      background: g reen;/*---TROCAR DEPOIS----*/
      }

      #local{
      width:100%;
      margin: 2.5% auto;
      padding: 2%;
      box-sizing: border-box;
      text-align: right;
      background: b lue;/*---TROCAR DEPOIS----*/
      color: white;
      }

        #local img{display: none;
        }

        #local a{
        margin: 0;
        font-family:Times, serif;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color:white;
        }
}/*----FIM DOS DISPOSITIVOS MÓVEIS----*/