@charset "utf-8";
/* CSS Document */
	
body{
margin: 5%;
background-position: top;
background-image: url("imagens/fundo.png");
background-color: #8e2f2f;
}

@media screen and (min-width:769px){

hr{border:1px solid white;}
	
#topo{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 5% 5% 2.5% 5%;
box-sizing: border-box;
border:2px solid white;
border-bottom: none;
}

      #logo{
      width:100%;
      max-width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content:space-around;
      }

      #logo a{
      width:30%;
      margin:1%;
      padding-right: 2%;
      max-width: 730px;
      }

	  #logo a img{
	  max-width: 100%;
	  max-height: 100px;
	  }

	  #logo a:first-child{
	  border-right: 2px solid white;
      padding-right: 5%;
      }

#principal{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 2.5% 5%;
box-sizing: border-box;
border-right:2px solid white;
border-left:2px solid white;
}

      #menu ul{
      margin: 0;
      padding: 0;
	  display:flex;
	  justify-content:space-between;
      list-style: none;
      }

	  #menu ul li{     
	  width: 24%;
      max-width: 600px;
	  }

      .menu li a{
      width: 100%;
      max-width: 600px;
      margin:0 auto 4%;
      padding:10%;
      box-sizing: border-box;
      border:2px solid white;
      display: block;
      font-family:Times, serif;
      font-size: 1.5em;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
      color:white;
      background-color:transparent;
      }

      .menu li a:hover{background-color:#ffffff30;}

	.conteudo{
	padding: 2%;
	font-family: times, serif;
	font-size: 20px;
	color:#252525;
	background-color:#ffffff90;
	}

	.conteudo{
	padding: 2%;
	border-top:2px solid white;
	border-bottom:2px solid white;
	font-size: 40px;
	color:#252525;
	background-color:#ffffff90;
	}

		.conteudo h1{
		font-family:Times, serif;
        font-size: 50px;
		text-align: center;
		color:#252525;
		}

		.conteudo h2{
		margin: 0 0 0.5em 0;
		font-family:Times, serif;
        font-size: 30px;
		color:#252525;
		}

		.conteudo h3{
		margin: 1em 0 0;
		font-family:Times, serif;
        font-size: 20px;
		color:#252525;
		}

		.conteudo h4{
		margin: 1em 0 0;
		font-family:Times, serif;
        font-size: 18px;
		text-align:justify;
		color:#252525;
		}

		.conteudo p{
		margin: 0;
        font-size: 16px;
		color:#252525;
		}

		.conteudo img{width: 100%;}
		
		.conteudo figure{
		width: 100%;
		margin: auto;
		text-align: center;
		border: 2px #ffffff solid;
		background-color: #ffffff;
		}

		.conteudo figure figcaption{
		font-style: italic;
		font-size: 12px;
		}
	
	.intro{
	margin-top: 2%;
	overflow: hidden;
	}
	
		.intro img{
		width: 310px;
		height: 185px;
		margin-right: 5%;
		float: left;
		}
	
	    .intro p{
		font-size: 19px;
		}

	.conteudo a{
	width: 100%;
	max-width: 600px;
	margin:0 auto 4%;
	padding:2%;
	box-sizing: border-box;
	border:2px solid white;
	display: block;
	font-family:Times, serif;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s;
	color:white;
	background-color:transparent;
	}

	.modal img{width:100%;}

	#valores{width:100%;}

.conteudo .aviso{
margin: 5%;
text-align:center;
font-weight: 700;
font-style: italic;
color:white;
}

#rodape{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 5% 5%;
box-sizing: border-box;
display: flex;
justify-content: space-between;
border-right:2px solid white;
border-bottom:2px solid white;
border-left:2px solid white;
background-color:y ellow;/*---TROCAR DEPOIS----*/
}

      #redes{
      width: 40%;
      max-width: 350px;
      padding:2%;
      box-sizing: border-box;
      background: g reen;/*---TROCAR DEPOIS----*/
      }

      #local{
      width:60%;
      max-width:350px;
      padding: 2%;
      box-sizing: border-box;
      text-align: right;
      background: b lue;/*---TROCAR DEPOIS----*/
      color: white;
      }

        #local img{
        margin-left: 5%;
        float: right;
        }

        #local a{
        margin: 0;
        font-family:Times, serif;
        font-size: 20px;
        text-decoration: none;
        text-align: right;
        color:white;
        }
}/*----FIM DESKTOP----*/

/*----INÍCIO DO CÓDIGO PARA DISPOSITIVOS MÓVEIS----*/

@media screen and (max-width:768px){

body{margin: 2%;}
	
#topo{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 5% 5% 2.5% 5%;
box-sizing: border-box;
border:2px solid white;
border-bottom: none;
}
	
      #logo{
      width:100%;
      max-width: 750px;
      margin: 0 auto;
      display: flex;
      justify-content:space-around;
      }

      #logo a{
      width:30%;
      margin:1%;
      padding-right: 2%;
      max-width: 730px;
      }

	  #logo a img{width: 100%;}

	  #logo a:first-child{
	  border-right: 2px solid white;
      padding-right: 5%;
      }
	
	
      #menu ul{
      margin: 0;
      padding: 0;
      list-style: none;
      }

      .menu li a{
      width: 100%;
      max-width: 600px;
      margin:0 auto 4%;
      padding:2%;
      box-sizing: border-box;
      border:2px solid white;
      display: block;
      font-family:Times, serif;
      font-size: 40px;
      text-decoration: none;
      text-align: center;
      transition: 0.3s;
      color:white;
      background-color:transparent;
      }

      .menu li a:hover{background-color:#ffffff30;}

#principal{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 2.5% 5%;
box-sizing: border-box;
border-right:2px solid white;
border-left:2px solid white;
}

	.some{display: none;}
	
#topo, #principal, #rodape{
padding: 5% 2% 2.5% 2%;
	}
     .menu li a{
      width: 100%;
      max-width: 600px;
      margin:0 auto 2%;
      padding:3%;
      transition: 0.3s;
      }
	
	.conteudo h1{
	font-family:Times, serif;
    font-size: 35px;
	text-align: center;
	color:#252525;
	}
	

	.conteudo{
	padding: 2%;
	font-family: times, serif;
	font-size: 20px;
	color:#252525;
	background-color:#ffffff90;
	}

	.conteudo{
	padding: 2%;
	font-size: 40px;
	color:#252525;
	background-color:#ffffff90;
	}

		.conteudo h1{
		font-family:Times, serif;
        font-size: 50px;
		text-align: center;
		color:#252525;
		}

		.conteudo h2{
		margin: 1em 0 0;
		font-family:Times, serif;
        font-size: 30px;
		color:#252525;
		}

		.conteudo h3{
		margin: 1em 0 0;
		font-family:Times, serif;
        font-size: 20px;
		color:#252525;
		}

		.conteudo h4{
		margin: 1em 0 0;
		font-family:Times, serif;
        font-size: 18px;
		text-align:justify;
		color:#252525;
		}

		.conteudo p{
		margin: 0;
        font-size: 16px;
		color:#252525;
		}

		.conteudo img{width: 100%;}
		
		.conteudo figure{
		width: 100%;
		margin: auto;
		text-align: center;
		border: 2px #ffffff solid;
		background-color: #ffffff;
		}

		.conteudo figure figcaption{
		font-style: italic;
		font-size: 12px;
		}

	.intro{margin-top: 2%;}
	
		.intro img{width: 100%;}
	
	    .intro p{font-size: 19px;}
	
	.conteudo a{
	width: 100%;
	max-width: 600px;
	margin:0 auto 4%;
	padding:2%;
	box-sizing: border-box;
	border:2px solid white;
	display: block;
	font-family:Times, serif;
	font-size: 40px;
	text-decoration: none;
	text-align: center;
	transition: 0.3s;
	color:white;
	background-color:transparent;
	}

	.modal img{width:100%;}

	#valores{width:100%;}

.conteudo .aviso{
margin: 5%;
text-align:center;
font-weight: 700;
font-style: italic;
color:white;
}
	
	
#rodape{
width:100%;
max-width: 1200px;
height:auto;
margin: auto;
padding: 2.5% 5% 5% 5%;
box-sizing: border-box;
display:block;
border-right:2px solid white;
border-bottom:2px solid white;
border-left:2px solid white;
}

      #redes{
      width: 100%;
      margin: auto;
      padding:2%;
      box-sizing: border-box;
      }

      #local{
      width:100%;
      margin: 2.5% auto;
      padding: 2%;
      box-sizing: border-box;
      text-align: right;
      background: b lue;/*---TROCAR DEPOIS----*/
      color: white;
      }

        #local img{display: none;
        }

        #local a{
        margin: 0;
        font-family:Times, serif;
        font-size: 20px;
        text-decoration: none;
        text-align: center;
        color:white;
        }
}/*----FIM DOS DISPOSITIVOS MÓVEIS----*/

/*-----------CSS DO JQUERY-----------*/
.modal a.close-modal[class*="icon-"] {
  top: -10px;
  right: -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  line-height: 1.25;
  text-align: center;
  text-decoration: none;
  text-indent: 0;
  background: #900;
  border: 2px solid #fff;
  -moz-box-shadow:    1px 1px 5px rgba(0,0,0,0.5);
  -webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
  box-shadow:         1px 1px 5px rgba(0,0,0,0.5);
}
